<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alimentari</title>
</head>
<body>
    <h1>Benvenuto al nostro negozio</h1>
    <p>Qui puoi trovare i nostri prodotti:</p>
    <!--percorso che rimanda all pagina alimentari posso usare
    thymeleaf oppure posso indicare il mapping che riconduce an un metodo del controller alimentari-->
    <a href="/pagina-alimentari">Alimentari</a>
    <a href="/pagina-prodotti">Prodotti</a>
    <a href="/formLogin">Login</a>
    <a href="/formRegistrazione">Registrazione</a>
    <a href="/logout">Logout</a>
    <!--<a href="/register">Registra</a>-->
    <!--spazio in cui inserirò la lista degli alimentari-->
   <!-- TH: INDICA ELEMENTO CHE USO PER REINDERIZZARE I DATI
             each: indica che uso un foreach
            
            "alimentare:  ${alimentari}"
        alimnentare è l'oggetto,il tipo di dato contenuto nella lista
    
    $(etichetta) indica un placeholder,al posto di quel valore inseriro il dato effettivo,
quindi la list adi laimenti
/nomePagina-->

      
</body>
</html>